<h1>Cars</h1>

<div class='loading-cars-info'>
  Loading Cars 
  <span class='piecy-items-loaded'>0</span> / 
  <span class='cars-total'><%= @cars_count %></span>
</div>

<table class='cars-table'>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>



